body {
    margin:0;
    padding:0;
    background-color: #1C2329;
    overflow: hidden;
}

.titles {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    margin:0 25%;
}

.container {
    margin:0 10%;
}

.gridcenter {
    display: flex;
    width: 100%;
    justify-content: center;
}


.grid{
    border-radius: 25px;
    background-color:#fff;
    padding: 25px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 10px;
    justify-items: center;
    height: calc(75vh - 10px);
}

.card-body {
    width: 75%;
    height: 25%;
}

.card-body img {
    width: 100%;
    min-height: 100%;
}

h1 { 
    color: #ffffff; 
    font-family: 'Lato', sans-serif; 
    font-size: 54px; 
    font-weight: 300; 
    line-height: 58px; 
    margin: 0 0 58px; }

.score {
    width: 25%;
    height: 10%;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
}

.score h3 {
    font-size: 25px;
    margin-left: 20%;
}

#result {
    margin-left: 30px;
}